body {
    background: linear-gradient(135deg, rgb(4, 101, 120), rgb(34, 165, 230), rgb(102, 246, 234), white);
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: 20px;
    padding: 20px;
    color: black;
}

h1 {
    color: rgb(0, 0, 0);
    font-size: 2em;
    text-shadow: 2px 2px rgb(255, 255, 255);
}

h2 {
    color: rgb(105, 24, 68);
    margin-top: 25px;
    text-shadow: 1px 1px rgba(64, 28, 57, 0.427);
}

h3 {
    color: rgb(105, 24, 68);
    margin-top: 25px;
    text-shadow: 1px 1px rgba(64, 28, 57, 0.427);
}

h4 {
    color: rgb(105, 24, 68);
    margin-top: 25px;
    text-shadow: 1px 1px rgba(64, 28, 57, 0.427);
}

p {
    margin: 15px;

}

nav {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
